<div id="home_news" class="row-fluid">
	<div id="home_news_highlight" class="span8">
		<div class="colored-box light-green">		
			<h4>Notícias</h4>	
		</div>				
		<div id="home_news_box">
			<% if !@highlight.blank? %>
				<div id="news_highlight">					
					<div id="home_highlight_image_box">
						<% if !@highlight.photo_id.blank? %>									
							<%= link_to refinery.newsarticles_newsarticle_path(@highlight) do %>													  	
								<%= image_fu @highlight.photo, "700x700" %>
							<% end %>				  						
	  					<% end %>	  					
	  					<h2 class="news-headline"><%= @highlight.headline %></h2> 	
	  					<% if !@highlight.lead.blank? %>			  	
	  						<h5 class="news-highlight"><%= @highlight.lead %></h5>
	  					<% end %>						
					</div>
				</div>
			<% end %>
		</div>		
	</div>
	<div id="home_news_sidebar" class="span4">
		<%= render '/refinery/pages/home_news_sidebar' %>
	</div>
</div>
<%= render '/refinery/pages/home_news2' %>
