	<div id="rodape">
		<div class="not-so-fluid">
			<div id="footer_links" class="container-fluid">
				<div class="row-fluid">
					<div class="span3 footer-link-box">
						<%= content_tag(:h2, "GERAL") %>
						<ul>							
							<li><a href="/sobre">sobre</a></li>
							<li><a href="/newsarticles">notícias</a></li>											
						</ul>
					</div>
					<div class="span3 footer-link-box">						
						<%= content_tag(:h2, "FERRAMENTAS INDE") %>
						<ul>		
							<li><a href="http://www.visualizador.inde.gov.br" target="_blank">visualizador</a></li>
							<li><a href="http://www.metadados.inde.gov.br" target="_blank">catálogo de metadados</a></li>
						</ul>	
					</div>
					<div class="span3 footer-link-box">
						<%= content_tag(:h2, "INSTRUMENTOS") %>
						<ul>		
							<li><a href="#">wiki</a></li>
							<li><a href="#">fórum</a></li>
						</ul>	
					</div>										
				</div>
			</div>					
		</div>			
	</div>
	<div id="rodape2">
		<div class="not-so-fluid">
			<div id="government_links" class="container-fluid">			
				<%= image_tag 'acesso-a-infornacao.png', :class => "pull-left" %>
				<%= image_tag 'brasil.png', :class => "pull-right" %>
			</div>
		</div>		
	</div>	
	

